.logo {
  display: block;
  width: 100%;
  text-align: center;
}
.nav-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.search-bar {
    width: 100%;
    margin: 10px 0;
  }
  .card {
    flex: 1 1 100%;
  }
.pulsaCard img {
  width: 100%;
  border-radius: 8px;
}
.listrikCard img {width: 60%;}
.buttonGameCard {
  display: block;
  text-decoration: none;
  color: white;
  background: linear-gradient(0deg,#0eb193,#2ed9b3);
  margin-top: 10px;
  flex: content;
  padding: 10px;
  border-radius: 10px;

}